name: CI Workflow

on:
  push:
    branches:
      - main

jobs:
  build: # имя взято для примера
    runs-on: ubuntu-latest

    steps:
      # Клонируем репозиторий
      - uses: actions/checkout@v4
      - name: install node.js
      uses: actions/setup-node@v4
      # Ставим зависимости
      - run: make setup
      - name: Install dependencies
      run: npm install
      # Запускаем линтер
      - run: make lint
      - run: make test
      - name: Print Hello from Hexlet
      uses: hexlet-components/hello-from-hexlet-action@release
